{% extends "base.html" %}
{% load static %}
{% block content %}


<body>
    <section>
      <div class="container">
        <div class="user signinBx">
          <div class="imgBx"><img src="https://raw.githubusercontent.com/WoojinFive/CSS_Playground/master/Responsive%20Login%20and%20Registration%20Form/img1.jpg" alt="" /></div>
          <div class="formBx">
            
            <h1> you are Login </h></br>
              
              {{ request.user }}
            </br>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit"><img src="{% static 'image/logout.jpg' %}" class="card-img-top" alt="..."style="width: 350px; height: 200px;" ></button>
                </form>
                
         
          </div>
         
        </div>
      
      </div>
    </section>
   




{% endblock  %}